<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta property="fb:admins" content="100000069050372">
<meta property="og:site_name" content="Shock Doctor">
<title>Mouthguards  - Shock Doctor</title>
<meta name="description" content="Shock Doctor is the #1 mouthguard brand in the world.  With the world’s leading mouthguard technology and new flavored mouthguards for all types of athletes, Shock Doctor mouthguards provide the best combination of protection, fit and comfort.">
<meta name="keywords" content="#1 mouthguard in the world
flavored mouthguard
braces mouthguard
youth mouthguard
football mouthguard
basketball mouthguard">
<meta name="robots" content="INDEX,FOLLOW">
<link rel="icon" href="https://www.shockdoctor.com/media/favicon/default/Logo2.png" type="image/x-icon">
<link rel="shortcut icon" href="https://www.shockdoctor.com/media/favicon/default/Logo2.png" type="image/x-icon">
<!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
    var BLANK_URL = 'https://www.shockdoctor.com/js/blank.html';
    var BLANK_IMG = 'https://www.shockdoctor.com/js/spacer.gif';
//]]>
</script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="css/styles.css" media="all">
<link rel="stylesheet" type="text/css" href="css/widgets.css" media="all">
<link rel="stylesheet" type="text/css" href="css/window.css" media="all">
<link rel="stylesheet" type="text/css" href="css/forms.css" media="all">
<link rel="stylesheet" type="text/css" href="css/print.css" media="print">
<script src="js/client.js" async="" type="text/javascript" id="LR1"></script><script src="js/dc.js" async="" type="text/javascript"></script><script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/ccard.js"></script>
<script type="text/javascript" src="js/validation.js"></script>
<script type="text/javascript" src="js/builder.js"></script>
<script type="text/javascript" src="js/effects.js"></script>
<script type="text/javascript" src="js/dragdrop.js"></script>
<script type="text/javascript" src="js/controls.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/form.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
<script type="text/javascript" src="js/translate.js"></script>
<script type="text/javascript" src="js/cookies.js"></script>
<script type="text/javascript" src="js/window.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/jquery-1.js"></script>
<script type="text/javascript" src="js/ga_social_tracking.js"></script><script src="js/widgets.js" async="" type="text/javascript"></script>
<script type="text/javascript" src="js/sd-scripts.js"></script>
<script type="text/javascript" src="js/ajax-window.js"></script>
<script type="text/javascript" src="js/catalogevent.js"></script>
<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="https://www.shockdoctor.com/skin/frontend/shock-doctor/default/css/styles-ie9.css" media="all" />
<![endif]-->
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="https://www.shockdoctor.com/skin/frontend/shock-doctor/default/css/styles-ie8.css" media="all" />
<![endif]-->
<!--[if lt IE 8]>
<link rel="stylesheet" type="text/css" href="https://www.shockdoctor.com/skin/frontend/shock-doctor/default/css/styles-ie7.css" media="all" />
<![endif]-->
<!--[if lt IE 7]>
<script type="text/javascript" src="https://www.shockdoctor.com/js/lib/ds-sleight.js"></script>
<script type="text/javascript" src="https://www.shockdoctor.com/skin/frontend/shock-doctor/default/js/iehover-fix.js"></script>
<![endif]-->

<script type="text/javascript">
//<![CDATA[
Mage.Cookies.path     = '/';
Mage.Cookies.domain   = '.www.shockdoctor.com';
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
optionalZipCountries = ["AG","HK","IE","MO","PA","ZA"];
//]]>
</script>
<script type="text/javascript">var Translator = new Translate({"Please use only letters (a-z or A-Z), numbers (0-9) or underscore(_) in this field, first character should be a letter.":"Please use only letters (a-z or A-Z), numbers (0-9) or underscores (_) in this field, first character must be a letter."});</script></head>
<body data-twttr-rendered="true" class=" cms-page-view cms-mouthguards cms-mouthguards"><iframe src="files/hub.htm" style="position: absolute; top: -9999em; width: 10px; height: 10px;" name="twttrHubFrameSecure" tabindex="0" scrolling="no" allowtransparency="true" id="twttrHubFrameSecure" frameborder="0"></iframe>

<!-- BEGIN GOOGLE ANALYTICS CODE -->

<!-- END GOOGLE ANALYTICS CODE --><div class="wrapper">
        <noscript>
        <div class="noscript">
            <div class="noscript-inner">
                <p><strong>JavaScript seem to be disabled in your browser.</strong></p>
                <p>You must have JavaScript enabled in your browser to utilize the functionality of this website.</p>
            </div>
        </div>
    </noscript>
    <div class="page">
        <div class="header">
    <div class="header-contents">
        <div class="header-logo">
                        <p><a href="https://www.shockdoctor.com/" title="Shock Doctor: Hardcore Protection, Fearless Performance" class="logo"><img src="files/shock-doctor-logo.png" alt="Shock Doctor: Hardcore Protection, Fearless Performance" height="37" width="360"></a></p>
                    </div>
        <div class="header-links">
    <ul>
                        <li class="header-links-home"><a href="https://www.shockdoctor.com/" title="Home">Home</a></li>
                <li><a href="https://www.shockdoctor.com/store-locator">Store Locator</a></li>
        <li><a href="https://www.shockdoctor.com/international">International</a></li>
                <li><a class="registration_link" href="https://www.shockdoctor.com/customer/account/create">Create account</a></li>
        <li><a class="login_link" href="https://www.shockdoctor.com/customer/account/login" ajaxhref="https://www.shockdoctor.com/customer/account/login/">Sign In</a></li>
                <li class="header-links-cart">
                                                            <a href="https://www.shockdoctor.com/checkout/cart/" id="cartHeader"><strong>My Cart</strong> (<span>0</span>)</a>
        </li>
    </ul>
</div>
<div class="header-promos">
    <p class="cta">
        <span><strong>Free Shipping</strong> for members.</span><a class="registration_link" href="javascript:void(0)">Sign Up Today</a>
    </p>
    <p class="cta header-outlet">
        <a href="https://www.shockdoctor.com/outlet/all">Shop Outlet</a>
    </p>
</div>
        <div id="top-cart-container">
            <!--{CART_SIDEBAR_a8f425f238218db362da452140399803}-->
	<div class="top-cart">
    	 <div id="topCartContent" class="block-content" style="display:none">

     
     
        <div class="inner-wrapper">        <div class="arrow"></div>
                            <p class="block-subtitle">
                <span onclick="Enterprise.TopCart.hideCart()" class="close-btn"><img src="files/close-button.png" alt="Close"></span>
                                <span class="title">SHOPPING CART</span>
            </p>
            <p class="cart-empty">
                You have no items in your shopping cart.            </p>
                

        
                </div>
    </div>
    
<script type="text/javascript">
    Enterprise.TopCart.initialize('topCartContent', 'cartHeader', 'https://www.shockdoctor.com/sd_checkout/cart/delete/');
    // Below can be used to show minicart after item added
    // Enterprise.TopCart.showCart(7);
</script>
</div>

<!--/{CART_SIDEBAR_a8f425f238218db362da452140399803}-->        </div>
    </div>
</div>

<div class="nav">
    <!--{CATALOG_NAVIGATION_d2d8e3c5b3f55fcbeae672a1e63b56c0}--><div class="nav-container">
    <ul id="nav">
        <li class="level0 nav-1 level-top first parent  nav-current">
            <div class="level-top">
                <em>Shop Our</em><br>
                Products                        <span class="breadcrumb">Mouthguards</span>
            </div>
            <div class="level0">
                <ul class="level0">
                    <li class="level1 nav-1-1 first">
                        <a href="https://www.shockdoctor.com/products/mouthguards">
                            <span class="nav-category-image"><img src="files/mouthguard-category-navigation.png"></span>
                            Mouthguards
                        </a>
                    </li>
                    <li class="level1 nav-1-2">
                        <a href="https://www.shockdoctor.com/products/shockskin-impact-gear">
                            <span class="nav-category-image"><img src="files/shockskin-category-navigation.png"></span>
                            ShockSkin™ Impact Gear
                        </a>
                    </li>
                    <li class="level1 nav-1-8 last">
                        <a href="https://www.shockdoctor.com/products/baseball-equipment">
                            <span class="nav-category-image"><img src="files/baseball-protective-category-navigation.png"></span>
                            Baseball Equipment
                        </a>
                    </li>
                    <li class="level1 nav-1-4">
                        <a href="https://www.shockdoctor.com/products/insoles">
                            <span class="nav-category-image"><img src="files/insoles-category-navigation.png"></span>
                            Insoles
                        </a>
                    </li>
                    <li class="level1 nav-1-3">
                        <a href="https://www.shockdoctor.com/products/performance-sports-therapy">
                            <span class="nav-category-image"><img src="files/pst-category-navigation.png"></span>
                            Performance Sports Therapy
                        </a>
                    </li>
                    <li class="level1 nav-1-5">
                        <a href="https://www.shockdoctor.com/products/cups-and-supporters">
                            <span class="nav-category-image"><img src="files/supporters-category-navigation.png"></span>
                            Cups &amp; Supporters
                        </a>
                    </li>
                    <li class="level1 nav-1-6">
                        <a href="https://www.shockdoctor.com/products/performance-apparel">
                            <span class="nav-category-image"><img src="files/apparrel-category-navigation.png"></span>
                            Performance Apparel
                        </a>
                    </li>
                    <li class="level1 nav-1-7">
                        <a href="https://www.shockdoctor.com/products/protective-accessories">
                            <span class="nav-category-image"><img src="files/protective-category-navigation.png"></span>
                            Protective Accessories
                        </a>
                    </li>
                   <!--  <li class="level1 nav-1-8">
                        <a href="/products/athletic-tape">
                            <span class="nav-category-image"><img src="/media/catalog/category/athletic-tape-category-navigation.png"></span>
                            Athletic Tape
                        </a>
                        <span class="new">New</span>
                    </li> -->
                    <li class="level1 nav-1-8">
                        <a href="https://www.shockdoctor.com/products/recovery-compression">
                            <span class="nav-category-image"><img src="files/svr-navigation.png"></span>
                            Recovery Compression
                        </a>
                        <span class="new">New</span>
                    </li>
                    <li class="level1 nav-1-9">
                        <a href="https://www.shockdoctor.com/products/ice-compression-wraps">
                            <span class="nav-category-image"><img src="files/ice-recovery-navigation.png"></span>
                            Ice Compression Wrap
                        </a>
                        <span class="new">New</span>
                    </li>
                </ul>
            </div>
        </li>
        <li class="level0 nav-2 level-top last parent">
            <div class="level-top">
                <em>Shop By</em><br>
                Sports
            </div>
            <div class="level0">
                <ul class="level0">
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/football">Football</a></li>
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/hockey">Hockey</a></li>
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/baseball-softball">Baseball/Softball</a></li>
                </ul>
                <ul class="level0">
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/lacrosse">Lacrosse</a></li>
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/basketball">Basketball</a></li>
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/action-sports/all">Action Sports</a></li>
                </ul>
                <ul class="level0">
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/field-hockey/all">Field Hockey</a></li>
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/handball/all">Handball</a></li>
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/mma-boxing">MMA/Boxing</a></li>
                </ul>
                <ul class="level0">
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/rugby/all">Rugby</a></li>
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/running/all">Running</a></li>
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/snow-sports/all">Snow Sports</a></li>
                </ul>
                <ul class="level0">
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/soccer">Soccer</a></li>
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/training/all">Training</a></li>
                    <li class="level1"><a href="https://www.shockdoctor.com/sports/volleyball/all">Volleyball</a></li>
                </ul>
            </div>
        </li>
        <li class="level0 nav-athletes">
            <a href="https://www.shockdoctor.com/team-shock-doctor" class="level-top">
                Athletes
            </a>
        </li>
        <li class="level0 nav-technology">
            <a href="https://www.shockdoctor.com/technology" class="level-top">
                Technology
            </a>
        </li>
        <li class="level0 nav-search">
            <form action="https://www.shockdoctor.com/catalogsearch/result/" method="get">
                <div class="form-search">
                    <input id="search" name="q" maxlength="128" class="search-input" type="text">
                    <input name="order" value="relevance" type="hidden"> 
                    <input name="dir" value="desc" type="hidden">
                    <button type="submit" title="Go" class="search-submit">Search</button>
                </div>
            </form>
        </li>
    </ul>
</div>
<!--/{CATALOG_NAVIGATION_d2d8e3c5b3f55fcbeae672a1e63b56c0}--></div>

        <!--{GLOBAL_MESSAGES_3e966cafdcb3f0c9cd9f8bc6a0021644}--><!--/{GLOBAL_MESSAGES_3e966cafdcb3f0c9cd9f8bc6a0021644}-->                
        <div class="product-slider slider-initiated">
<div style="min-height: 427px;" class="product-slider-slides product-slider-mouthguards">
<div style="display: none;" id="game-time" class="product-slider-slide product-slider-game-time">
<div class="product-slider-slide-content">
<div class="product-slider-slide-image"><img src="files/SLIDER_FLAVOR.jpg" alt="" height="427" width="960"></div>
<div class="product-slider-slide-text"><span style="font-size: xx-large; color: #ffffff;">GEL MAX FIT AND SHOCK ABSORPTION</span><br><span style="font-size: x-large; color: #ffffff;"> NOW WITH EXCLUSIVE MULTI-LAYER FLAVOR TECHNOLOGY</span>
<p class="cta"><a href="https://www.shockdoctor.com/gel-max-flavor-mouthguard">Shop Flavor Fusion</a></p>
</div>
</div>
</div>
<div style="display: block;" id="number-1-mouthguard" class="product-slider-slide product-slider-number-1-mouthguard">
<div class="product-slider-slide-content">
<div class="product-slider-slide-image"><img src="files/number-1-mouthguard.jpg" alt="" height="427" width="665"></div>
<div class="product-slider-slide-text">
<h1><strong><em>#1</em> Mouthguard</strong><br> in the world</h1>
<p class="cta"><a href="https://www.shockdoctor.com/products/mouthguards/all/">Shop all Mouthguards</a></p>
</div>
</div>
</div>
</div>
<div class="slider-nav">
<ul>

<li class=""><a href="#game-time">Slide 1</a></li>
<li class="nav-current"><a href="#number-1-mouthguard">Slide 2</a></li>
</ul>
</div>
</div>

        
        <div class="main product-category-landing">
            
                        
            <div class="modules">
                <div class="top-products grouped-products slider-initiated">
                    <div class="top-products-header grouped-products-header">
                        <h1><strong>Featured</strong> Mouthguards:</h1>
                        <h2><a href="https://www.shockdoctor.com/products/mouthguards/all"><strong>Shop all</strong></a></h2>
                    </div>
                    <div style="min-height: 245px; margin-left: 0px;" class="top-products-groups grouped-products-groups">
                                                    <div class="top-products-group" id="top_products_1">
                                                            <div class="top-product grouped-product">
                                <a href="https://www.shockdoctor.com/nano-3d-mouthguard" title="">
                                    
                                                                        
                                    <img src="files/6514-nano-3d-_green__1.png" alt="" height="145" width="190">                                    
                                    <ul class="swatches">                                        
                                        <li><label class="swatch-pearlblue" title="PEARLBLUE"><span>PEARLBLUE</span></label></li>                                        
                                        <li><label class="swatch-pearlcarbon" title="PEARLCARBON"><span>PEARLCARBON</span></label></li>                                        
                                        <li><label class="swatch-pearlgreen" title="PEARLGREEN"><span>PEARLGREEN</span></label></li>                                        
                                        <li><label class="swatch-pearlorange" title="PEARLORANGE"><span>PEARLORANGE</span></label></li>                                        
                                        <li><label class="swatch-pearlred" title="PEARLRED"><span>PEARLRED</span></label></li>                                        
                                        <li><label class="swatch-pearlyellow" title="PEARLYELLOW"><span>PEARLYELLOW</span></label></li>                                        
                                        <li><label class="swatch-transblue" title="TRANSBLUE"><span>TRANSBLUE</span></label></li>                                        
                                        <li><label class="swatch-transclear" title="TRANSCLEAR"><span>TRANSCLEAR</span></label></li>                                        
                                        <li><label class="swatch-transpink" title="TRANSPINK"><span>TRANSPINK</span></label></li>
                                    </ul>
                                    <h3 class="product-name">Nano 3D Mouthguard</h3>
                                    <h4>

        
    <span class="price-box" itemscope="" itemtype="http://schema.org/Offer">
                                                            <span class="regular-price" itemprop="price" id="product-price-742">
                    <span class="price">$49.99</span>                </span>
                            </span>
    
</h4>
                                </a>
                            </div>
                                                        <div class="top-product grouped-product">
                                <a href="https://www.shockdoctor.com/gel-max-flavored-mouthguard" title="">
                                    
                                                                        
                                    <img src="files/flavorfusion_fruit-punch_front.png" alt="" height="145" width="190">                                    
                                    <ul class="swatches">                                        
                                        <li><label class="swatch-orange" title="ORANGE"><span>ORANGE</span></label></li>                                        
                                        <li><label class="swatch-fruitpunch" title="FRUITPUNCH"><span>FRUITPUNCH</span></label></li>                                        
                                        <li><label class="swatch-blueraspberry" title="BLUERASPBERRY"><span>BLUERASPBERRY</span></label></li>                                        
                                        <li><label class="swatch-lemonlime" title="LEMONLIME"><span>LEMONLIME</span></label></li>                                        
                                        <li><label class="swatch-bubblegum" title="BUBBLEGUM"><span>BUBBLEGUM</span></label></li>                                        
                                        <li><label class="swatch-mint" title="MINT"><span>MINT</span></label></li>
                                    </ul>
                                    <h3 class="product-name">Gel Max Flavor Fusion Mouthguard</h3>
                                    <h4>

        
    <span class="price-box" itemscope="" itemtype="http://schema.org/Offer">
                                                            <span class="regular-price" itemprop="price" id="product-price-1396">
                    <span class="price">$14.99</span>                </span>
                            </span>
    
</h4>
                                </a>
                            </div>
                                                        <div class="top-product grouped-product">
                                <a href="https://www.shockdoctor.com/ultra-braces-mouthguard" title="">
                                    
                                                                        
                                    <img src="files/sd_4700_ultrabraces_blacka_1.png" alt="" height="145" width="190">                                    
                                    <ul class="swatches">                                        
                                        <li><label class="swatch-black" title="BLACK"><span>BLACK</span></label></li>                                        
                                        <li><label class="swatch-blue" title="BLUE"><span>BLUE</span></label></li>                                        
                                        <li><label class="swatch-red" title="RED"><span>RED</span></label></li>                                        
                                        <li><label class="swatch-transblue" title="TRANSBLUE"><span>TRANSBLUE</span></label></li>                                        
                                        <li><label class="swatch-transpink" title="TRANSPINK"><span>TRANSPINK</span></label></li>
                                    </ul>
                                    <h3 class="product-name">Ultra Braces</h3>
                                    <h4>

        
    <span class="price-box" itemscope="" itemtype="http://schema.org/Offer">
                                                            <span class="regular-price" itemprop="price" id="product-price-1421">
                    <span class="price">$29.99</span>                </span>
                            </span>
    
</h4>
                                </a>
                            </div>
                                                        <div class="top-product grouped-product">
                                <a href="https://www.shockdoctor.com/gel-nano-flavor-fusion-mouthguard" title="">
                                    
                                    <span class="new">New</span>                                    
                                    <img src="files/gelnano-ff_limon-b_beauty_on-black_noreflection_crop.png" alt="" height="145" width="190">                                    
                                    <ul class="swatches">                                        
                                        <li><label class="swatch-rocketpunch" title="ROCKETPUNCH"><span>ROCKETPUNCH</span></label></li>                                        
                                        <li><label class="swatch-blueraz" title="BLUERAZ"><span>BLUERAZ</span></label></li>                                        
                                        <li><label class="swatch-shockorange" title="SHOCKORANGE"><span>SHOCKORANGE</span></label></li>                                        
                                        <li><label class="swatch-limontensity" title="LIMONTENSITY"><span>LIMONTENSITY</span></label></li>                                        
                                        <li><label class="swatch-bubblegum" title="BUBBLEGUM"><span>BUBBLEGUM</span></label></li>
                                    </ul>
                                    <h3 class="product-name">Gel Nano Flavor Fusion Mouthguard</h3>
                                    <h4>

        
    <span class="price-box" itemscope="" itemtype="http://schema.org/Offer">
                                                            <span class="regular-price" itemprop="price" id="product-price-2968">
                    <span class="price">$24.99</span>                </span>
                            </span>
    
</h4>
                                </a>
                            </div>
                                                    </div>
                                                    <div class="top-products-group" id="top_products_2">
                                                            <div class="top-product grouped-product">
                                <a href="https://www.shockdoctor.com/ultra2-stc-mouthguard" title="">
                                    
                                                                        
                                    <img src="files/7512ultra-stc2-_orange__1.png" alt="" height="145" width="190">                                    
                                    <ul class="swatches">                                        
                                        <li><label class="swatch-black" title="BLACK"><span>BLACK</span></label></li>                                        
                                        <li><label class="swatch-green" title="GREEN"><span>GREEN</span></label></li>                                        
                                        <li><label class="swatch-orange" title="ORANGE"><span>ORANGE</span></label></li>                                        
                                        <li><label class="swatch-pink" title="PINK"><span>PINK</span></label></li>                                        
                                        <li><label class="swatch-red" title="RED"><span>RED</span></label></li>                                        
                                        <li><label class="swatch-royal" title="ROYAL"><span>ROYAL</span></label></li>
                                    </ul>
                                    <h3 class="product-name">Ultra2 STC Mouthguard</h3>
                                    <h4>

        
    <span class="price-box" itemscope="" itemtype="http://schema.org/Offer">
                                                            <span class="regular-price" itemprop="price" id="product-price-881">
                    <span class="price">$29.99</span>                </span>
                            </span>
    
</h4>
                                </a>
                            </div>
                                                        <div class="top-product grouped-product">
                                <a href="https://www.shockdoctor.com/gel-max-mouthguard" title="">
                                    
                                                                        
                                    <img src="files/sd_6103_gelmaxconvertibletether.png" alt="" height="145" width="190">                                    
                                    <ul class="swatches">                                        
                                        <li><label class="swatch-black" title="BLACK"><span>BLACK</span></label></li>                                        
                                        <li><label class="swatch-blue" title="BLUE"><span>BLUE</span></label></li>                                        
                                        <li><label class="swatch-blue-black" title="BLUE/BLACK"><span>BLUE/BLACK</span></label></li>                                        
                                        <li><label class="swatch-green" title="GREEN"><span>GREEN</span></label></li>                                        
                                        <li><label class="swatch-maroon" title="MAROON"><span>MAROON</span></label></li>                                        
                                        <li><label class="swatch-orange" title="ORANGE"><span>ORANGE</span></label></li>                                        
                                        <li><label class="swatch-pink" title="PINK"><span>PINK</span></label></li>                                        
                                        <li><label class="swatch-purple" title="PURPLE"><span>PURPLE</span></label></li>                                        
                                        <li><label class="swatch-red" title="RED"><span>RED</span></label></li>                                        
                                        <li><label class="swatch-yellow" title="YELLOW"><span>YELLOW</span></label></li>
                                    </ul>
                                    <h3 class="product-name">Gel Max Mouthguard</h3>
                                    <h4>

        
    <span class="price-box" itemscope="" itemtype="http://schema.org/Offer">
                                                            <span class="regular-price" itemprop="price" id="product-price-706">
                    <span class="price">$11.99</span>                </span>
                            </span>
    
</h4>
                                </a>
                            </div>
                                                        <div class="top-product grouped-product">
                                <a href="https://www.shockdoctor.com/braces-mouthguard" title="">
                                    
                                                                        
                                    <img src="files/4100-braces-_blue__1_2.png" alt="" height="145" width="190">                                    
                                    <ul class="swatches">                                        
                                        <li><label class="swatch-blue" title="BLUE"><span>BLUE</span></label></li>                                        
                                        <li><label class="swatch-pink" title="PINK"><span>PINK</span></label></li>
                                    </ul>
                                    <h3 class="product-name">Braces Mouthguard</h3>
                                    <h4>

        
    <span class="price-box" itemscope="" itemtype="http://schema.org/Offer">
                                                            <span class="regular-price" itemprop="price" id="product-price-326">
                    <span class="price">$19.99</span>                </span>
                            </span>
    
</h4>
                                </a>
                            </div>
                                                        <div class="top-product grouped-product">
                                <a href="https://www.shockdoctor.com/double-nano-mouthguard" title="">
                                    
                                                                        
                                    <img src="files/6701-nano-double-fight-_black__1_1.png" alt="" height="145" width="190">                                    
                                    <ul class="swatches">                                        
                                        <li><label class="swatch-blue" title="BLUE"><span>BLUE</span></label></li>                                        
                                        <li><label class="swatch-carbon" title="CARBON"><span>CARBON</span></label></li>                                        
                                        <li><label class="swatch-red" title="RED"><span>RED</span></label></li>
                                    </ul>
                                    <h3 class="product-name">Double Nano Mouthguard</h3>
                                    <h4>

        
    <span class="price-box" itemscope="" itemtype="http://schema.org/Offer">
                                                            <span class="regular-price" itemprop="price" id="product-price-753">
                    <span class="price">$24.99</span>                </span>
                            </span>
    
</h4>
                                </a>
                            </div>
                                                    </div>
                                                </div>
                    <div class="slider-nav-arrows">
                                                <p class="slider-nav-previous"><span class="nav-current"><a style="display: none;" href="#top_products_1">Previous</a></span><span><a style="display: none;" href="#top_products_2">Previous</a></span></p>
                        <ul class="slider-nav">                            <li class="nav-current"><a href="#top_products_1">Group 1</a></li>
                                                        <li><a href="#top_products_2">Group 2</a></li>
                                                    </ul>
                        <p class="slider-nav-next"><span class="nav-current"><a style="display: none;" href="#top_products_1">Next</a></span><span><a style="display: block;" href="#top_products_2">Next</a></span></p>
                                            </div>
                </div>
                <i></i>                <div class="module-c"><img src="files/Mouthguard_ModuleC_24OCT12.jpg" alt="" height="400" width="960">
<div class="module-c-content"><span style="color: black;">
<h1><span style="color: #ffffff;"><strong>#1 mouthguard in the world</strong></span></h1>
</span>
<p id="mg" class="cta"><a href="https://www.shockdoctor.com/products/mouthguards/all">Shop All Mouthguards</a></p>
</div>
</div>
<!-- #mg { position:absolute; top: 295px; } --><div class="promo-row">
<div class="promo-row-promo"><a href="https://www.shockdoctor.com/products/protective-accessories"> <span class="promo-row-image-bw"><img src="files/chin-strap-bw.jpg" alt="" height="200" width="300"></span> <span class="promo-row-image-color"><img src="files/chin-strap-color.jpg" alt="" height="200" width="300"></span>
<div class="promo-row-promo-title">
<h1>We’ve got you covered.<br> <strong>Ultra Carbon Chin Strap.</strong></h1>
</div>
</a></div>
<div class="promo-row-promo"><a href="https://www.shockdoctor.com/cleat-insole"> <span class="promo-row-image-bw"><img src="files/PromoRow_Cleat_bw.jpg" alt="Cleat Insoles"></span> <span class="promo-row-image-color"><img src="files/PromoRow_Cleat_color.jpg" alt="Cleat Insoles"></span> </a></div>
<div class="promo-row-promo"><a class="video-link" href="http://www.youtube.com/watch?v=4_xk__4j490&amp;feature=plcp"> <span class="promo-row-image-bw"><img src="files/football-bw.jpg" alt="" height="200" width="300"></span> <span class="promo-row-image-color"><img src="files/football-color.jpg" alt="" height="200" width="300"></span>
<div class="promo-row-promo-title">
<h1>Fearless Performance</h1>
</div>
</a></div>
</div>
                            </div>

            <div class="parts slider-initiated">
                            </div>
            
        </div>
            
                <div class="footer">
    <div class="footer-about">
        <h3>Our Company</h3>
        <ul>
            <li><a href="https://www.shockdoctor.com/about">About Shock Doctor</a></li>
            <li><a href="https://www.shockdoctor.com/careers">Careers</a></li>
            <li><a href="https://www.shockdoctor.com/store-locator">Store Locator</a></li>
            <li><a href="https://www.shockdoctor.com/contact">Contact Us</a></li>
            <li><a href="https://www.shockdoctor.com/news">News Room</a></li>
            <li><a href="https://www.shockdoctor.com/affiliations">Affiliations</a></li>
            <li><a href="https://sdsports.box.com/imagelibrary">Image Library</a></li>
            <li><a href="https://www.shockdoctor.com/responsibility">Corporate Social Responsibility</a></li>
        </ul>
        <ul>
            <li>© 2014 Shock Doctor, Inc.</li>
            <li class="site-by">Site by <a href="http://www.gokartlabs.com/">GoKart Labs</a></li>
        </ul>
    </div>
    <div class="footer-service">
        <h3>Customer Service</h3>
        <ul>
            <li>Email: <a href="mailto:cs@shockdoctor.com">cs@shockdoctor.com</a></li>
            <li>Phone: 1-800-233-6956 </li>
            <li>Hours: 8am – 5pm CST, Mon – Fri</li>
            <li>Closed Sat &amp; Sun</li>
        </ul>
        <h3>Customer Support</h3>
        <ul>
            <li><a href="https://www.shockdoctor.com/media/pdfs/ShockDoctor-ReturnPolicy2013.pdf">Return Policy</a></li>
            <li><a href="https://www.shockdoctor.com/privacy">Privacy Policy</a></li>
            <li><a href="https://www.shockdoctor.com/terms">Terms of Use</a></li>
        </ul>
    </div>
    <div class="footer-medical">
        <h3>Medical &amp; Dental Professionals</h3>
        <ul>
            <li>Email: <a href="mailto:medicaldirect@shockdoctor.com">medicaldirect@shockdoctor.com</a></li>
            <li>Phone: 1-866-253-1311</li>
            <li>Hours: 8am – 5pm CST, Mon – Fri</li>
            <li>Closed Sat &amp; Sun</li>
        </ul>
    </div>
    <div class="footer-connect">
        <h3>Stay Connected</h3>
        <ul class="footer-social">
            <li class="footer-facebook"><a href="https://www.facebook.com/shockdoctor" title="Facebook"><strong>39k</strong> Fans</a></li>
            <li class="footer-twitter"><a href="https://twitter.com/ShockDoctor" title="Twitter"><strong>7995</strong> Followers</a></li>
            <li class="footer-youtube"><a href="http://www.youtube.com/shockdoctor" title="YouTube"><strong>9</strong> Videos</a></li>
        </ul>
    </div>
</div>
            </div>
</div>


</body></html>