@font-face {
	font-family: 'Din Text Pro Regular';
	src: url('fonts/PFDinTextPro-Regular.eot');
	src: url('fonts/PFDinTextPro-Regular.eot?#iefix') format('embedded-opentype'),
	     url('fonts/PFDinTextPro-Regular.woff') format('woff'),
	     url('fonts/PFDinTextPro-Regular.ttf') format('truetype'),
	     url('fonts/PFDinTextPro-Regular.svg#PFDinTextPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Din Text Pro Regular';
	src: url('fonts/PFDinTextPro-Bold.eot');
	src: url('fonts/PFDinTextPro-Bold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/PFDinTextPro-Bold.woff') format('woff'),
	     url('fonts/PFDinTextPro-Bold.ttf') format('truetype'),
	     url('fonts/PFDinTextPro-Bold.svg#PFDinTextPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Din Text Pro Medium';
    src: url('fonts/PFDinTextPro-Medium.eot');
	src: url('fonts/PFDinTextPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFDinTextPro-Medium.woff') format('woff'),
         url('fonts/PFDinTextPro-Medium.ttf') format('truetype'),
         url('fonts/PFDinTextPro-Medium.svg#PFDinTextPro-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'uhlstamp2regular';
	src: url('fonts/uhlstrg_-webfont.eot');
	src: url('fonts/uhlstrg_-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/uhlstrg_-webfont.woff') format('woff'), url('fonts/uhlstrg_-webfont.ttf') format('truetype'), url('fonts/uhlstrg_-webfont.svg#uhlstamp2regular') format('svg');
	font-weight: normal;
	font-style: normal
}
