<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Shock Doctor - News Item</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="" />

    <link rel="icon" href="media/favicon/default/Logo2.png" type="image/x-icon" />
    <link rel="shortcut icon" href="media/favicon/default/Logo2.png" type="image/x-icon" />

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!--[if lt IE 7]>
    <script type="text/javascript">
    //<![CDATA[
        var BLANK_URL = 'https://www.shockdoctor.com/js/blank.html';
        var BLANK_IMG = 'https://www.shockdoctor.com/js/spacer.gif';
    //]]>
    </script>
    <![endif]-->

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/widgets.css" />
    <link rel="stylesheet" href="css/window.css" />
    <link rel="stylesheet" href="css/forms.css" />
    <link rel="stylesheet" href="css/print.css" media="print" />

    <script src="js/prototype/prototype.js"></script>
    <script src="js/prototype/validation.js"></script>
    <script src="js/prototype/window.js"></script>
    <script src="js/scriptaculous/builder.js"></script>
    <script src="js/scriptaculous/effects.js"></script>
    <script src="js/scriptaculous/dragdrop.js"></script>
    <script src="js/scriptaculous/controls.js"></script>
    <script src="js/scriptaculous/slider.js"></script>
    <script src="js/varien/js.js"></script>
    <script src="js/varien/form.js"></script>
    <script src="js/varien/menu.js"></script>
    <script src="js/varien/configurable.js"></script>
    <script src="js/mage/translate.js"></script>
    <script src="js/mage/cookies.js"></script>
    <script src="js/lib/ccard.js"></script>
    <script src="js/enterprise/catalogevent.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/ga_social_tracking.js"></script>
    <script src="js/sd-scripts.js"></script>
    <script src="js/ajax-window.js"></script>
    
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="css/ie/styles-ie9.css" />
    <![endif]-->
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie/styles-ie8.css" />
    <![endif]-->
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="css/ie/styles-ie7.css" />
    <![endif]-->
        <!--[if lt IE 7]>
        <script type="text/javascript" src="https://www.shockdoctor.com/js/lib/ds-sleight.js"></script>
        <script type="text/javascript" src="https://www.shockdoctor.com/skin/frontend/shock-doctor/default/js/iehover-fix.js"></script>
    <![endif]-->

    <script type="text/javascript">
        //<![CDATA[
        Mage.Cookies.path     = '/';
        Mage.Cookies.domain   = '.www.shockdoctor.com';
        //]]>
    </script>

    <script type="text/javascript">
        //<![CDATA[
        optionalZipCountries = ["AG","HK","IE","MO","PA","ZA"];
        //]]>
    </script>

    <script type="text/javascript">
        var Translator = new Translate({"Please use only letters (a-z or A-Z), numbers (0-9) or underscore(_) in this field, first character should be a letter.":"Please use only letters (a-z or A-Z), numbers (0-9) or underscores (_) in this field, first character must be a letter."});
    </script>
</head>

<body>

<iframe id="twttrHubFrameSecure" tabindex="0" name="twttrHubFrameSecure" src="https://platform.twitter.com/widgets/hub.html" style="position: absolute; top: -9999em; width: 10px; height: 10px; border: 0;"></iframe>

<!-- BEGIN GOOGLE ANALYTICS CODE -->
<script type="text/javascript">
    //<![CDATA[
    var _gaq = _gaq || [];


    _gaq.push(['_setAccount', 'UA-3050398-1']);
    _gaq.push(['_trackPageview']);


    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    //]]>
</script>
<!-- END GOOGLE ANALYTICS CODE -->

<div class="wrapper">

<div class="page">

<div class="header">
    <div class="header-contents">
        <div class="header-logo">
            <h1>
                <a href="index.html" title="Shock Doctor: Hardcore Protection, Fearless Performance" class="logo">
                    <img src="images/shock-doctor-logo.png" alt="Shock Doctor: Hardcore Protection, Fearless Performance" width="360" height="37">
                </a>
            </h1>
        </div>

        <div class="header-links">
            <ul>
                <li><a href="/store-locator">Где купить</a></li>
                <li><a class="registration_link" href="/customer/account/create">Создать аккаунт</a></li>
                <li><a class="login_link" href="/customer/account/login" ajaxhref="/customer/account/login/">Войти</a></li>
                <li class="header-links-cart">
                    <a href="/checkout/cart/" id="cartHeader"><strong>Корзина</strong> (<span>0</span>)</a>
                </li>
            </ul>
        </div>

        <div class="header-promos">
            <p class="cta">
                 <a class="registration_link" href="javascript:void(0)">Регистрация здесь</a>
            </p>
            <p class="cta header-outlet">
                <a href="https://www.shockdoctor.com/outlet/all">Распродажи</a>
            </p>
        </div>

        <div id="top-cart-container">
            <div class="top-cart">
                <div id="topCartContent" class="block-content" style="display:none">
                    <div class="inner-wrapper">
                        <div class="arrow"></div>

                        <p class="block-subtitle">
                            <span onclick="Enterprise.TopCart.hideCart()" class="close-btn">
                                <img src="images/close-button.png" alt="Close">
                            </span>
                            <span class="title">Корзина</span>
                        </p>
                        <p class="cart-empty">У Вас нет товаров в корзине.</p>
                    </div>
                </div>

                <script type="text/javascript">
                    Enterprise.TopCart.initialize('topCartContent', 'cartHeader', 'https://www.shockdoctor.com/sd_checkout/cart/delete/');
                    // Below can be used to show minicart after item added
                    // Enterprise.TopCart.showCart(7);
                </script>
            </div>
        </div>
    </div> <!-- end header-contents -->
</div> <!-- end header -->

<div class="nav">
    <div class="nav-container">
        <ul id="nav">
            <li class="level0 nav-1 level-top first parent">
                <div class="level-top">
                    <em>Каталог</em><br>
                    Товаров
                </div>
                <div class="level0">
                    <ul class="level0">
                        <li class="level1 nav-1-1 first">
                            <a href="products-mouthguards.html" class="">
                                <span class="nav-category-image"><img src="media/catalog/category/mouthguard-category-navigation.png" alt=""></span>
                                Каппы
                            </a>
                        </li>
                        <li class="level1 nav-1-2">
                            <a href="products-impact-gear.html">
                                <span class="nav-category-image"><img src="media/catalog/category/shockskin-category-navigation.png" alt=""></span>
                                ShockSkin™ Влияние передач
                            </a>
                        </li>
                        <li class="level1 nav-1-8 last">
                            <a href="/products/baseball-equipment">
                                <span class="nav-category-image"><img src="media/catalog/category/baseball-protective-category-navigation.png" alt=""></span>
                                Бейсбол оборудование
                            </a>
                        </li>
                        <li class="level1 nav-1-4">
                            <a href="products-insoles.html">
                                <span class="nav-category-image"><img src="media/catalog/category/insoles-category-navigation.png" alt=""></span>
                                Стельки
                            </a>
                        </li>
                        <li class="level1 nav-1-3">
                            <a href="/products/performance-sports-therapy">
                                <span class="nav-category-image"><img src="media/catalog/category/pst-category-navigation.png" alt=""></span>
                                Производительность Спортивная терапия
                            </a>
                        </li>
                        <li class="level1 nav-1-5">
                            <a href="/products/cups-and-supporters">
                                <span class="nav-category-image"><img src="media/catalog/category/supporters-category-navigation.png" alt=""></span>
                                Чаши &amp; Поддержка
                            </a>
                        </li>
                        <li class="level1 nav-1-6">
                            <a href="/products/performance-apparel">
                                <span class="nav-category-image"><img src="media/catalog/category/apparrel-category-navigation.png" alt=""></span>
                                Производительность одежда
                            </a>
                        </li>
                        <li class="level1 nav-1-7">
                            <a href="/products/protective-accessories">
                                <span class="nav-category-image"><img src="media/catalog/category/protective-category-navigation.png" alt=""></span>
                                Защитные аксессуары
                            </a>
                        </li>
                       <!--  <li class="level1 nav-1-8">
                            <a href="/products/athletic-tape">
                                <span class="nav-category-image"><img src="media/catalog/category/athletic-tape-category-navigation.png" alt=""></span>
                                Athletic Tape
                            </a>
                            <span class="new">New</span>
                        </li> -->
                        <li class="level1 nav-1-8">
                            <a href="/products/recovery-compression">
                                <span class="nav-category-image"><img src="media/category-page/product/compression/svr-navigation.png" alt=""></span>
                                Восстанавливающее сжатие
                            </a>
                            <span class="new">New</span>
                        </li>
                        <li class="level1 nav-1-9">
                            <a href="/products/ice-compression-wraps">
                                <span class="nav-category-image"><img src="media/category-page/product/ice-recovery/ice-recovery-navigation.png" alt=""></span>
                                Ice Compression Wrap
                            </a>
                            <span class="new">New</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="level0 nav-2 level-top last parent">
                <div class="level-top">
                    <em>По видам</em><br>
                    Спорта
                </div>
                <div class="level0">
                    <ul class="level0">
                        <li class="level1"><a href="sports.html" class="">Американский футбол</a></li>
                        <li class="level1"><a href="/sports/hockey">Хоккей</a></li>
                        <li class="level1"><a href="/sports/baseball-softball">Бейсбол / Софтбол</a></li>
                    </ul>
                    <ul class="level0">
                        <li class="level1"><a href="/sports/lacrosse">Лакросс</a></li>
                        <li class="level1"><a href="/sports/basketball">Баскетбол</a></li>
                        <li class="level1"><a href="/sports/action-sports/all">Активные виды спорта</a></li>
                    </ul>
                    <ul class="level0">
                        <li class="level1"><a href="/sports/field-hockey/all">Хоккей на траве</a></li>
                        <li class="level1"><a href="/sports/handball/all">Гандбол</a></li>
                        <li class="level1"><a href="/sports/mma-boxing">MMA / Бокс</a></li>
                    </ul>
                    <ul class="level0">
                        <li class="level1"><a href="/sports/rugby/all">Регби</a></li>
                        <li class="level1"><a href="/sports/running/all">Бег</a></li>
                        <li class="level1"><a href="/sports/snow-sports/all">Зимние виды спорта</a></li>
                    </ul>
                    <ul class="level0">
                        <li class="level1"><a href="/sports/soccer">Футбол</a></li>
                        <li class="level1"><a href="/sports/training/all">Подготовка</a></li>
                        <li class="level1"><a href="/sports/volleyball/all">Волейбол</a></li>
                    </ul>
                </div>
            </li>
            <li class="level0 nav-athletes">
                <a href="athletes.html" class="level-top">
                    Спортсмены
                </a>
            </li>
            <li class="level0 nav-technology">
                <a href="technology.html" class="level-top">
                    Технологии
                </a>
            </li>
            <li class="level0 nav-search">
                <form action="https://www.shockdoctor.com/catalogsearch/result/" method="get">
                    <div class="form-search">
                        <input id="search" type="text" name="q" value="" maxlength="128" class="search-input">
                        <input type="hidden" name="order" value="relevance"> 
                        <input type="hidden" name="dir" value="desc">
                        <button type="submit" title="Поиск" class="search-submit">Поиск</button>
                    </div>
                </form>
            </li>
        </ul>
    </div> <!-- end nav-container -->
</div> <!-- end nav -->


<div class="main global">
    <div class="news">
        <div class="list-header">
            <div class="list-header-contents">
                <h1><a href="/news">Новости</a></h1>
                <h2><strong>Справки для СМИ</strong>: <span class="digit">1-949-722-8488</span></h2>
            </div>
        </div>

        <div class="content">
            <div class="list-contents">
                <div class="list-products">
                    <div class="list-products-contents">
                        <h1>Shock Doctor® приобретает XO Athletic™ Бренд Защитная одежда</h1>
                        <p>Компания планирует сохранить XO Спортивное бренд и рычаги инновационных технологий и розничные отношения по расширению продаж.</p>
                        <p>Minneapolis, MN и Union, NJ – Август 20, 2014 - Shock Doctor®, номер один каппу компания в мире и ведущий новатор в управляемой спорта защитное снаряжение, объявила сегодня, что она приобрела XO Спортивное, базирующаяся в Союзе, Нью-Джерси.Стратегическое приобретение обеспечивает доступ к запатентованных технологий, принадлежащих XO наряду с эффективностью розничных распределительных которые принесут пользу обоих брендов. Shock Doctor намерен сохранить XO Спортивное бренд. Финансовые условия сделки не разглашаются.</p>
                        <p>XO Athletic зарекомендовала себя в защите спортивной позади запатентованной гибкий односторонний XO ProCup ™ в 2003 XO позже впервые достижения в спортивных кубков с литья 2Shot ™ для комфорта, наряду с Подростка и PeeWee размеры для правильной посадки и защиты. Сегодня компания продолжает разрабатывать расширения своих запатентованных технологий для обеспечения новых и инновационных продуктов для спортсменов всех возрастов.</p>
                        <p>"Наше видение заключается, чтобы быть выбором № 1 для спортсменов во всем мире, которые требуют производительность продукции путем предоставления самых современных снаряжение на рынке," сказал Тони Арман, президент и исполнительный директор Shock Doctor спорта, "Мы рады продолжать работать с Ланди в развитии новых и инновационных продуктов для защиты спорт".</p>
                        <p>"Приобретение XO Атлетик, в сочетании с патентов и технологий уже в рамках портфеля Shock Doctor позволяет нам продолжать инновации категорию." XO Учредители, Джим и Майк Ланди отметил, "Shock Doctor является лидером в каппу инноваций и пользуется очень сильные позиции в более широкой категории производительности и защиты. Тот факт, что мы будем иметь доступ к области технологических и дистрибутивных каналов Shock Doctor может только усилить XO бренд".</p>
                        <p>Для просмотра полной ассортимент продукции Shock Doctor посетить shockdoctor.com для XO Атлетик визита xoathletic.com</p>
                        <br>
                        <p>О Shock Doctor, Inc.</p>
                        <p>www.shockdoctor.com</p>
                        <p>Номер один каппу компания в мире, Shock Doctor является бесспорным лидером на рынке премьер технологии каппу и известен как создатель бесстрашный, ориентированной на эффективность спортивной деятельности и защиты оборудования и одежды, доступной в 10 000 торговых точках в более чем 50 странах по всему миру.</p>
                        <p>Средства защиты спортивный Shock Doctor варьируются от капп, основной защиты и одежды до Performance Sports терапии, призванной защитить спортсменов в широком диапазоне спорта, включая футбол, хоккей, бейсбол, лакросс, ММА, фитнес и многое другое. Их спортсмен-ориентированный подход и приверженность развитию революционной технологии, которая заработала им много патентов на сегодняшний день, постоянно революцию в индустрии и поднял уровень технической и функциональной производительности. Доверяют молодежи, любитель, и про спортсменов, так, продукты Shock Doctor объединить современный дизайн и высококачественные материалы с применением новейших технологий для достижения конечной в защите и производительности. Также владелец катера Перчатки, инновационный лидер в спортивной рынке перчаток, Shock Doctor был одним из наиболее динамично развивающихся спортивных товаров компаний в мире за последние 20 лет.</p>
                        <p>О XO Athletic</p>
                        <p>www.xoathletic.com</p>
                        <p>XO Athletic был инновационным лидером в мужской спортивной защиты - задает темп в спортивной категории чашки с 2002 г. С запатентованной XO ProCup, XO SmartJOC производительности короткий в грудь защитника XO HeartShield, грамотно разработанные продукты XO являются предпочтительным выбором по сегодняшним спортсменов за их превосходной форме, чувствовать и непревзойденный комфорт. XO никогда не согласился на создание "я тоже" продукты, и, начиная с 2015 года, революционная линия XO Aircore вновь задавать темп для категории.</p>
                    </div> <!-- end list-products-contents -->
                </div>

                <div class="list-toolbar">
                    <div class="list-toolbar-contents">
                        <h2>О Shock Doctor</h2>
                        <h3>Технология Вехи</h3>
                        <h4><a href="https://www.shockdoctor.com/media/wysiwyg//News/SD_TechMilestones.pdf">Скачать PDF</a></h4>
                        <h3>Обзор продукта</h3>
                        <h4><a href="https://www.shockdoctor.com/media/wysiwyg/News/SD_ProductOverview.pdf">Скачать PDF</a></h4>
                        <h2>Справки для СМИ</h2>
                        <ul>
                            <li>Пожалуйста, свяжитесь с Jeff Millard</li>
                            <li>Shock Doctor Медиа Бюро</li>
                            <li>Телефон: <span class="digit">562-546-6018</span></li>
                            <li><a href="mailto:jeff@thebrandamp.com">jeff@thebrandamp.com</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- end list-contents -->
        </div> <!-- end content -->
    </div> <!-- end news -->
</div> <!-- end main -->


<div class="footer">
    <div class="footer-about">
        <h3>Наша компания</h3>
        <ul>
            <li><a href="about.html">О компании</a></li>
            <li><a href="careers.html">Карьера</a></li>
            <li><a href="store-locator.html">Где купить</a></li>
            <li><a href="contact.html">Контакты</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="/affiliations">Членство</a></li>
            <li><a href="https://sdsports.box.com/imagelibrary">Библиотека изображений</a></li>
            <li><a href="responsibility.html">Корпоративная социальная ответственность</a></li>
        </ul>
        <ul>
            <li>© 2014 Shock Doctor, Inc.</li>
            <li class="site-by">Дизайн сайта <a href="http://www.gokartlabs.com" target="_blank">GoKart Labs</a></li>
            <li class="site-by">Русская версия <a href="http://www.spacebox.ru" target="_blank">Spacebox</a></li>
        </ul>
    </div>
    <div class="footer-service">
        <h3>Обслуживание клиентов</h3>
        <ul>
            <li>Email: <a href="mailto:cs@shockdoctor.com">cs@shockdoctor.com</a></li>
            <li>Телефон: 1-800-233-6956 </li>
            <li>Часы работы: Пн.-Пт., с 8 до 17</li>
            <li>Выходные: Сб., Вс.</li>
        </ul>

        <h3>Поддержка покупателей</h3>
        <ul>
            <li><a href="/media/pdfs/ShockDoctor-ReturnPolicy2013.pdf">Правила возврата</a></li>
            <li><a href="privacy.html">Политика конфиденциальности</a></li>
            <li><a href="terms.html">Правила пользования</a></li>
        </ul>
    </div>
    <div class="footer-medical">
        <h3>Медицинский центр</h3>
        <ul>
            <li>Email: <a href="mailto:medicaldirect@shockdoctor.com">medicaldirect@shockdoctor.com</a></li>
            <li>Телефон: 1-866-253-1311</li>
            <li>Часы работы: Пн.-Пт., с 8 до 17</li>
            <li>Выходные: Сб., Вс.</li>
        </ul>
    </div>
    <div class="footer-connect">
        <h3>Мы в сети</h3>
        <ul class="footer-social">
            <li class="footer-facebook"><a href="https://www.facebook.com/shockdoctor" title="Facebook"><strong>39k</strong> Фанатов</a></li>
            <li class="footer-twitter"><a href="https://twitter.com/ShockDoctor" title="Twitter"><strong>7995</strong> Подписчиков</a></li>
            <li class="footer-youtube"><a href="http://www.youtube.com/shockdoctor" title="YouTube"><strong>9</strong> Видео</a></li>
        </ul>
    </div>
</div> <!-- end footer -->

</div> <!-- end page -->

</div> <!-- end wrapper -->


</body>
</html>