<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>uhlsport FUSSBALL | ELIMINATOR SUPERSOFT BIONIK | 100056101</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<link href="css.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="images/favicons/favicon.ico"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-196x196.png" sizes="196x196"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-160x160.png" sizes="160x160"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16"/>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>	
	<script src="js/piwik.js" async="" defer="defer" type="text/javascript"></script>
	
	<!--[if IE 8]>
	<link href="ie.css" rel="stylesheet" type="text/css" />	
	<![endif]-->

</head>
<body class="body">
	<div id="wrapper">
		<div id="printlogo" class="printonly">
			<img src="images/logo.png" alt=""/>
		</div>
		<header>
            <div id="fixed">
                <div id="top"></div>
                <nav>
                    <div id="mobilehome">
                            <a href="/">
                                <div></div>
                            </a>
                    </div>
                    <div id="menubutton">
                        <img src="images/menu.png" title="Menu" alt=""/>
                    </div>

                    <ul id="menu">
                        <li id="home">
                                <a href="/">
                                    <div></div>
                                </a>
                        </li>
                        <li><a href="products_all">Products</a></li>
                        <li><a href="#">Sponsoring</a>
							<ul class="dropdown">
									<li>
										<a href="sponsoring_goalkeepers">Goalkeepers</a>
									</li>    
									<li>
										<a href="sponsoring_nationalteams">Nationalteams</a>
									</li>    
									<li>
										<a href="sponsoring_teams">Teams</a>
									</li>    
									<li>
										<a href="sponsoring_products">Products</a>
									</li>    
							</ul>
                        </li>
                        <li><a href="#">Brand</a>
								<ul class="dropdown">
										<li>
											<a href="brand_identity">Brand Identity</a>
										</li>    
										<li>
											<a href="history">History</a>
										</li>    
										<li>
											<a href="responsibility">Responsability</a>
										</li>    
								</ul>
                        </li>
                        <li><a href="#">Service</a>
							<ul class="dropdown">
									<li>
										<a href="newsletter">Newsletter</a>
									</li>    
							</ul>
                        </li>
                        <li><a href="/dealer/overview">Dealer</a></li>
                    </ul>
                </nav>
				<div id="search">
                    <form method="post" action="search">
                        <input class="ac_input" autocomplete="off" placeholder="Поиск по сайту" id="ssearchbox" name="term" title="" type="text"/>
                        <button type="submit">
                            <img src="images/search.png" alt="Search Button"/>
                        </button>
                    </form>
                </div>
				<div id="line"></div>
                <a href="" id="logo"></a>
				 </div>
        </header>
		<div id="content">
			<div id="headerimage">
				<a href="sponsoring_goalkeepers">
					<img id="himage" src="images/home.jpg" alt="" />
				</a>
			</div>
			<div class="headline">
				<h2>Product</h2>
			</div>
			<div class="product" itemscope="" itemtype="http://schema.org/Product">
				<span itemprop="brand" itemscope="" itemtype="http://schema.org/Brand">
					<meta itemprop="name" content="uhlsport">
					<meta itemprop="logo" content="http://test2.uhlsport.com/content/images/logo-simple_old.png"/>
				</span>
				<h1 itemprop="name">
					ELIMINATOR SUPERSOFT BIONIK</h1>
				<h2 itemprop="identifier" content="mpn:100056101">
					Article number 100056101
				</h2>
				<div class="container_16">
					<div class="grid_9">
						<div class="grid_6 alpha">
							<div class="mainimage">
								<div class="mobileonly">
									<div id="prev">
									</div>
									<div id="next">
									</div>
								</div>
								<span class="new"></span><a style="outline-style: none; text-decoration: none;" id="zoom1" href="http://www.uhlsport.com/media/productfull/100056101/635233931590000000" class="jqzoom" rel="main" title="">
									<div class="zoomPad">
										<img style="opacity: 1;" title="" itemprop="image" alt="" id="mainview" src="images/catalog/635233931590000000.png"/>
										<div style="width: 193px; height: 142px; position: absolute; border-width: 1px; display: none; left: 142px; top: -1px;" class="zoomPup">
										</div>
										<div style="position: absolute; z-index: 5001; left: 476px; top: 0px; display: none;" class="zoomWindow">
											<div style="width: 460px;" class="zoomWrapper">
												<div style="width: 100%; position: absolute; display: none;" class="zoomWrapperTitle">
												</div>
												<div style="width: 100%; height: 340px;" class="zoomWrapperImage">
													<img src="images/catalog/635233931590000000.png" style="position: absolute; border: 0px none; display: block; left: -340.476px; top: 0px;"/>
												</div>
											</div>
										</div>
										<div style="top: 146.5px; left: 123px; position: absolute; visibility: hidden;" class="zoomPreload">
											Loading...
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="grid_2 suffix_1 omega" id="views">
							<ul class="">
								<!-- different views -->
								<li>
									<div class="view" title="FRONTVIEW">
										<a href="javascript:void(0);" rel="{gallery: 'main', smallimage: '/media/product/100056101/635233931590000000/normal/fv',largeimage: '/media/productfull/100056101/635233931590000000/normal/fv'}">
											<img src="images/catalog/fv.png">
										</a>
									</div>
								</li>
								<li>
									<div class="view" title="BOTTOMVIEW">
										<a href="javascript:void(0);" rel="{gallery: 'main', smallimage: '/media/product/100056101/635233931570000000/normal/bv',largeimage: '/media/productfull/100056101/635233931570000000/normal/bv'}">
											<img src="images/catalog/bv.png">
										</a>
									</div>
								</li>
							</ul>
							&nbsp;
						</div>
						<div class="clear">
						</div>
						<div class="grid_8 suffix_1 alpha omega">
							<ul class="icons">
								<li>
									<img rel="tooltip" title="For pitches" src="images/iconstech/supersoftplus.png" id="typeicon_supersoftplus"/><span>Supersoft +</span></li><li>
										<img rel="tooltip" title="" src="images/iconstech/klassischer_schnitt.png" id="typeicon_klassischer_schnitt"/><span>Classic Cut</span></li><li>
											<img rel="tooltip" title="Slight stabilisation" src="images/iconstech/bionikframe.png" id="typeicon_bionikframe/"><span>Bionikframe</span></li><li>
												<img rel="tooltip" title="" src="images/iconstech/fluo_orange.png" id="typeicon_fluo_orange"/><span>FLUO</span></li>
							</ul>
							<div class="clear" style="height: 30px;">
							</div>
						</div>
					</div>
					<div class="grid_7">
						<h3>
							Product information</h3>
						<div class="desciption">
							PALM:<br/>
							Exclusive SUPERSOFT Plus latex<br/>
							BACKHAND:<br/>
							Latex<br/>
							CUT:<br/>
							Classic cut for a maximised catching area<br/>
							GLOVE BODY:<br/>
							Breathable fabric for maximum comfort<br/>
							FASTENING:<br/>
							Full bandage and wrap-around latex strap with name field<br/>
							<ul class="material">
								<li>Eye-catching Eliminator design</li>
								<li>Embossed SCHOCKZONE area</li>
								<li>Wrap at the side of the hand for optimised fitting and additional cushioning</li>
								<li>BIONIKFRAME: the effective lightweight stabilisation system for ultimate performance</li>
								<li>Closure features additional woven pull-on strap</li>
							</ul>
						</div>
						<h3 style="margin-top: 20px;">Size</h3>
						<div class="info">
							<div class="sizeprice">
								<span class="price price_en_us" itemprop="price">$ 99.95 * </span>
								<div class="size">
									8, 9, 10, 11
								</div>
							</div>
							<br/>
							<div class="small">
								* recommended retail price</div>
							<div style="clear: both; text-align: right">
								<a target="_blank" href="http://www.shopatron.com/products/productdetail/part_number=1000561-01/1518.0.1.1">
									<img src="images/buynowshopatron.gif"/></a>
							</div>
						</div>
						<h3>
							Colors</h3>
						<div class="info">
							white/fluo orange/black
						</div>
						<h3>Available</h3>
						<div class="info">
							03.2014
						</div>
						<div class="nomobile">
						</div>
						<hr style="margin-left: 0px;">
						<div class="noprint">
							<span style="position: relative" class="nomobile"><a href="#" class="udropdown udropdown2">Sizetables</a>
								<img src="images/handschuh_en.png" id="sizetable" style="position: absolute; right: 0px; top: 20px; z-index: 200; display: block;"/>
							</span>
							<div id="dealer">
								<div class="cd-dropdown cd-active">
									<span style="z-index: 1004;">Dealers</span><input name="d-dropdown" value="undefined" type="hidden"><ul style="height: 145px;">
										<li style="z-index: 1003; opacity: 1; top: 29px; left: 0px; width: 138px; margin-left: 0px; transform: none;" data-value="undefined"><span>Dealers</span></li><li style="z-index: 1002; opacity: 1; top: 58px; left: 0px; width: 138px; margin-left: 0px; transform: none;" data-value="/en_us/dealer/4/united-states"><span>United States</span></li><li style="z-index: 1001; opacity: 1; top: 87px; left: 0px; width: 138px; margin-left: 0px; transform: none;" data-value="/en_us/dealer/106/canada"><span>Canada</span></li><li style="z-index: 1000; opacity: 1; top: 116px; left: 0px; width: 138px; margin-left: 0px; transform: none;" data-value="/en_us/dealer/overview"><span>View all...</span></li></ul>
								</div>
							</div>
							<a title="Share this Product on FACEBOOK" class="facebook-product-share" target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.uhlsport.com/en_us/products/details/100056101/eliminator-supersoft-bionik">Share</a>
						</div>
					</div>
				</div>
				<div class="noprint">
					<div class="grid_16" style="margin-bottom: 50px;">
					</div>
					<div style="clear: both;">
						<div class="headline">
							<h2>
								You will also like...</h2>
						</div>
						<ul class="image-grid">
							<li><a href="http://www.uhlsport.com/en_us/products/details/100148101/reflex-ball-goalkeeper">
								<img alt="product" src="images/catalog/634986807930000000.png"/><h4>
									REFLEX BALL GOALKEEPER</h4>
								<div class="articlenumber">
									100148101</div>
								<div class="color">
									fluo yellow</div>
							</a></li>
							<li><a href="http://www.uhlsport.com/en_us/products/details/100423401/goalkeeper-bag">
								<img alt="product" src="images/catalog/634986825040000000.png"/><h4>
									Goalkeeper Bag</h4>
								<div class="articlenumber">
									100423401</div>
								<div class="color">
									black/fluo yellow</div>
								<span class="new"></span></a></li>
							<li><a href="http://www.uhlsport.com/en_us/products/details/100423402/goalkeeper-equipment-bag-brazil">
								<img alt="product" src="images/catalog/635233939260000000.png"/><h4>
									GOALKEEPER EQUIPMENT BAG Brazil</h4>
								<div class="articlenumber">
									100423402</div>
								<div class="color">
									fluo yellow/cyan</div>
								<span class="new"></span></a></li>
							<li><a href="http://www.uhlsport.com/en_us/products/details/1000009010577/mini-glove-eliminator-brazil-25er-p">
								<img alt="product" src="images/catalog/635233925560000000.png"/><h4>
									MINI GLOVE ELIMINATOR Brazil 25er P.</h4>
								<div class="articlenumber">
									1000009010577</div>
								<div class="color">
									cyan/fluo yellow/dark anthracite</div>
								<span class="new"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<footer>
            <div id="footer">
                <div class="headline"></div>
                <div class="container_16">
                    <div class="grid_9">
                        <div class="grid_6 alpha products">
                            <h4>Products</h4>
							<div class="grid_3 alpha">
								<ul class="sublist">
										<li><a href="http://www.uhlsport.com/en_us/products/category/744/goalkeeper-apparel">Goalkeeper Apparel</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/746/footwear">Footwear</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/747/goalkeeper-gloves">Goalkeeper Gloves</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/748/footballs">Footballs</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/749/bandages">Bandages</a></li>
								</ul>
							</div>
							<div class="grid_3 omega">
								<ul class="sublist">
										<li><a href="http://www.uhlsport.com/en_us/products/category/750/bags">Bags</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/751/accessories">Accessories</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/757/uhlsport-brazil-collection">uhlsport Brazil collection</a></li>
								</ul>
							</div>

                        </div>
                        <div class="grid_3 omega dealers">
                            <h4>Dealer</h4>
								<ul>
									<li><a href="http://www.uhlsport.com/en_us/dealer/4/united-states">United States</a></li>    
									<li><a href="http://www.uhlsport.com/en_us/dealer/106/canada">Canada</a></li>    
									<li><a href="http://www.uhlsport.com/en_us/dealer/overview">View all...</a></li>
								</ul>

                        </div>
                    </div>
                    <div class="grid_7">
                        <div class="grid_3 alpha service">
                            <h4>Service</h4>
								<ul>
									<li>
										<a href="http://www.uhlsport.com/en_us/newsletter">Newsletter</a>
									</li>
								</ul>
                        </div>
                        <div class="grid_3 contact">
                            <h4>Contact</h4>
                            <address>
                                MSD Sports Enterprises<br/>765 Branch Drive<br/>GA 30004 Alpharetta, GA, 30004<br/><br/>+17706676918<br/>+17706676925<br/>usa@uhlsport.com<br/>
								<a href="http://www.uhlsportusa.com/">uhlsportusa.com</a><br/>
                            </address>
                            <br/>
                            <a href="http://www.uhlsport.com/en_us/imprint">Imprint</a><br/>
                            <a href="http://www.uhlsport.com/en_us/contact">Contact</a><br/>
                        </div>
                        <div class="grid_1 socialmedia omega">
                            <a href="http://www.facebook.com/pages/UHLSPORT-USA/187230199528">
                                <img src="images/footer_fb_55x55.png" alt="uhlsport on Facebook"/>
                            </a>
                            <a href="http://www.youtube.com/uhlsportTV">
                                <img src="images/footer_yt_55x55.png" alt="uhlsport on Facebook"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
	</div>
	<div class="clear"></div>

</body>
</html>