<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>uhlsport FUSSBALL</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<link href="css.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="images/favicons/favicon.ico"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-196x196.png" sizes="196x196"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-160x160.png" sizes="160x160"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16"/>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>	
	<script src="js/piwik.js" async="" defer="defer" type="text/javascript"></script>
	
	<!--[if IE 8]>
	<link href="ie.css" rel="stylesheet" type="text/css" />	
	<![endif]-->

</head>
<body class="body">
	<div id="wrapper">
		<div id="printlogo" class="printonly">
			<img src="images/logo.png" alt=""/>
		</div>
		<header>
            <div id="fixed">
                <div id="top"></div>
                <nav>
                    <div id="mobilehome">
                            <a href="/">
                                <div></div>
                            </a>
                    </div>
                    <div id="menubutton">
                        <img src="images/menu.png" title="Menu" alt=""/>
                    </div>

                    <ul id="menu">
                        <li id="home">
                                <a href="/">
                                    <div></div>
                                </a>
                        </li>
                        <li><a href="products_all">Products</a></li>
                        <li><a href="#">Sponsoring</a>
							<ul class="dropdown">
									<li>
										<a href="sponsoring_goalkeepers">Goalkeepers</a>
									</li>    
									<li>
										<a href="sponsoring_nationalteams">Nationalteams</a>
									</li>    
									<li>
										<a href="sponsoring_teams">Teams</a>
									</li>    
									<li>
										<a href="sponsoring_products">Products</a>
									</li>    
							</ul>
                        </li>
                        <li><a href="#">Brand</a>
								<ul class="dropdown">
										<li>
											<a href="brand_identity">Brand Identity</a>
										</li>    
										<li>
											<a href="history">History</a>
										</li>    
										<li>
											<a href="responsibility">Responsability</a>
										</li>    
								</ul>
                        </li>
                        <li><a href="#">Service</a>
							<ul class="dropdown">
									<li>
										<a href="newsletter">Newsletter</a>
									</li>    
							</ul>
                        </li>
                        <li><a href="/dealer/overview">Dealer</a></li>
                    </ul>
                </nav>
				<div id="search">
                    <form method="post" action="search">
                        <input class="ac_input" autocomplete="off" placeholder="Поиск по сайту" id="ssearchbox" name="term" title="" type="text"/>
                        <button type="submit">
                            <img src="images/search.png" alt="Search Button"/>
                        </button>
                    </form>
                </div>
				<div id="line"></div>
                <a href="" id="logo"></a>
				 </div>
        </header>
		<div id="content">
			<div id="headerimage">
				<a href="sponsoring_goalkeepers">
					<img id="himage" src="images/home.jpg" alt="" />
				</a>
			</div>
			<div class="produktgruppe">
				<div class="headline">
					<h2>
						Goalkeeper Gloves</h2>
				</div>
				<div class="container_16">
					<div class="feature_gloves">
						<div class="container_16">
							<div class="grid_16">
							</div>
						</div>
						<script>
							var filtertech = true;
							var filterprop = false;
							var filtercollection = false;
						</script>
						<div class="container_16">
							<div class="grid_12">
								<h2 data-str="" data-str-none="Unfortunately no results in this combination" id="ergebnisse">
								</h2>
								<ul id="productlist" class="image-grid image-grid-left">
									<li style="" data-new="1" data-id="100031801" data-color="white" data-sort="0" data-prop="gk,finder_gk,goalkeeper,absolutgripplus,bionikframe_x-change_mit_thumbframe,schockzone,weiter_schnitt"><a href="http://www.uhlsport.com/en_us/products/details/100031801/ergonomic-bionik-x-change">
										<img class="pthumb lazy" src="images/catalog/634992983440000000.png"/>
										<h4>
											ERGONOMIC BIONIK+ X-CHANGE</h4>
										<div class="color">
											white/black/violet</div>
										<span class="price">$ 179.95</span> </a></li>
									<li style="" data-new="1" data-id="100032201" data-color="white" data-sort="0" data-prop="gk,finder_gk,goalkeeper,absolutgripplus,schockzone,absolutroll"><a href="http://www.uhlsport.com/en_us/products/details/100032201/cerberus-absolutgrip-absolutroll">
										<img class="pthumb lazy" src="images/catalog/634992995120000000.png"/>
										<h4>
											CERBERUS ABSOLUTGRIP ABSOLUTROLL</h4>
										<div class="color">
											white/fluo yellow/black</div>
										<span class="price">$ 99.95</span> </a></li>
									<li style="" data-new="1" data-id="100034401" data-color="white" data-sort="0" data-prop="gk,asgras,finder_gk,weiter_schnitt,supergraphit,goalkeeper,aggras"><a href="http://www.uhlsport.com/en_us/products/details/100034401/ergonomic-super-graphit">
										<img class="pthumb lazy" src="images/catalog/635233925600000000.png"/>
										<h4>
											ERGONOMIC SUPER GRAPHIT</h4>
										<div class="color">
											white/black/flashgreen</div>
										<span class="price">$ 99.95</span> </a></li>
									<li style="" data-new="1" data-id="100037901" data-color="white" data-sort="0" data-prop="gk,finder_gk,goalkeeper,absolutgrip,weiter_schnitt"><a href="http://www.uhlsport.com/en_us/products/details/100037901/ergonomic-absolutgrip">
										<img class="pthumb lazy" src="images/catalog/634986807180000000.png"/>
										<h4>
											ERGONOMIC ABSOLUTGRIP</h4>
										<div class="color">
											white/black/fluo yellow</div>
										<span class="price">$ 99.95</span> </a></li>
									<li style="" data-new="1" data-id="100038501" data-color="black" data-sort="0" data-prop="gk,finder_gk,goalkeeper,absolutgripplus,handbett,schockzone,klassischer_schnitt"><a href="http://www.uhlsport.com/en_us/products/details/100038501/cerberus-absolutgrip-handbett">
										<img class="pthumb lazy" src="images/catalog/634992996260000000.png"/>
										<h4>
											CERBERUS ABSOLUTGRIP HANDBETT</h4>
										<div class="color">
											black/fluo orange/cyan</div>
										<span class="price">$ 169.95</span> </a></li>
									<li style="" data-new="1" data-id="100038601" data-color="white" data-sort="0" data-prop="gk,finder_gk,goalkeeper,absolutgripplus,bionikframe_x-change_mit_thumbframe,schockzone,weiter_schnitt"><a href="http://www.uhlsport.com/en_us/products/details/100038601/ergonomic-bionik-x-change">
										<img class="pthumb lazy" src="images/catalog/635233925820000000.png"/>
										<h4>
											ERGONOMIC BIONIK+ X-CHANGE</h4>
										<div class="color">
											white/black/flashgreen/cyan</div>
										<span class="price">$ 179.95</span> </a></li>
									<li style="" data-new="1" data-id="100069301" data-color="grey" data-sort="0" data-prop="gk,finder_gk,goalkeeper,klassischer_schnitt,aquasoft"><a href="http://www.uhlsport.com/en_us/products/details/100069301/fangmaschine-aquasoft">
										<img class="pthumb lazy" src="images/catalog/634992983500000000.png"/>
										<h4>
											FANGMASCHINE AQUASOFT</h4>
										<div class="color">
											grey/black/orange</div>
										<span class="price">$ 74.95</span> </a></li>
									<li style="" data-new="0" data-id="100057701" data-color="blue " data-sort="0" data-prop="gk,finder_gk,absolutgripplus,schockzone,klassischer_schnitt,fluo_gelb,goalkeeper"><a href="http://www.uhlsport.com/en_us/products/details/100057701/eliminator-absolutgrip">
										<img class="pthumb lazy" src="images/catalog/635233931940000000.png"/>
										<h4>
											ELIMINATOR ABSOLUTGRIP</h4>
										<div class="color">
											cyan/fluo yellow/black</div>
										<span class="price">$ 139.95</span> <span class="new"></span></a></li>
									<li style="" data-new="0" data-id="100056101" data-color="white" data-sort="0" data-prop="gk,finder_gk,supersoftplus,klassischer_schnitt,bionikframe,fluo_orange,goalkeeper"><a href="http://www.uhlsport.com/en_us/products/details/100056101/eliminator-supersoft-bionik">
										<img class="pthumb lazy" src="images/catalog/635233931590000000.png"/>
										<h4>
											ELIMINATOR SUPERSOFT BIONIK</h4>
										<div class="color">
											white/fluo orange/black</div>
										<span class="price">$ 99.95</span> <span class="new"></span></a></li>
									</ul>
							</div>
							<div class="grid_4" id="ffilter">
								<div class="filter_top">
								</div>
								<div class="filter">
									<div>
										<fieldset>
											<legend>Sort</legend>
											<input id="sort_color" name="sort" value="color" type="radio"/>
											<label for="sort_color">
												By Color</label><br/>
											<input id="sort_name" name="sort" checked="checked" value="name" type="radio"/>
											<label id="sort_name">
												By price</label><br/>
											<input name="sort" value="new" id="sort_new" type="radio"/>
											<label for="sort_new">
												New</label>
										</fieldset>
										<hr/>
										<fieldset>
											<a data-key="Foam" class="udropdown techbutton udropdown2" style="width: 180px; display: block;" href="#">Foam
												<br/>
												<span style="font-weight: bold; font-size: 10px; line-height: 10px;" class="techtext" id="info_Foam">Absolutgrip, Absolutgrip+, Aquasoft, Supersoft +, Soft, Starter Soft, Starter Stripe, Soft Graphit, Starter Graphit, Super Graphit</span> </a>
											<ul id="Foam" class="icons techninfos" style="margin-top: 0px; padding: 0px;">
												<li title="For dry and wet weather" rel="tooltip">
													<div>
														<input data-name="Absolutgrip" data-key="Foam" checked="checked" name="tech_1" value="absolutgrip" type="checkbox"/>
														<img src="images/iconstech/absolutgrip.png" /></div>
													<span>Absolutgrip</span> </li>
												<li title="For dry and wet weather" rel="tooltip">
													<div>
														<input data-name="Absolutgrip+" data-key="Foam" checked="checked" name="tech_1" value="absolutgripplus" type="checkbox"/>
														<img src="images/iconstech/absolutgripplus.png" /></div>
													<span>Absolutgrip+</span> </li>
												<li title="For wet weather" rel="tooltip">
													<div>
														<input data-name="Aquasoft" data-key="Foam" checked="checked" name="tech_1" value="aquasoft" type="checkbox"/>
														<img src="images/iconstech/aquasoft.png" /></div>
													<span>Aquasoft</span> </li>
												<li title="For pitches" rel="tooltip">
													<div>
														<input data-name="Supersoft +" data-key="Foam" checked="checked" name="tech_1" value="supersoftplus" type="checkbox"/>
														<img src="images/iconstech/supersoftplus.png" /></div>
													<span>Supersoft +</span> </li>
												<li title="For pitches" rel="tooltip">
													<div>
														<input data-name="Soft" data-key="Foam" checked="checked" name="tech_1" value="soft" type="checkbox"/>
														<img src="images/iconstech/soft.png" /></div>
													<span>Soft</span> </li>
												<li title="For pitches" rel="tooltip">
													<div>
														<input data-name="Starter Soft" data-key="Foam" checked="checked" name="tech_1" value="startersoft" type="checkbox"/>
														<img src="images/iconstech/startersoft.png" /></div>
													<span>Starter Soft</span> </li>
												<li title="For artificial grass and hard courts" rel="tooltip">
													<div>
														<input data-name="Starter Stripe" data-key="Foam" checked="checked" name="tech_1" value="starterstripe" type="checkbox"/>
														<img src="images/iconstech/starterstripe.png" /></div>
													<span>Starter Stripe</span> </li>
												<li title="For artificial grass and hard courts" rel="tooltip">
													<div>
														<input data-name="Soft Graphit" data-key="Foam" checked="checked" name="tech_1" value="softgraphit" type="checkbox"/>
														<img src="images/iconstech/softgraphit.png" /></div>
													<span>Soft Graphit</span> </li>
												<li title="For artificial grass and hard courts" rel="tooltip">
													<div>
														<input data-name="Starter Graphit" data-key="Foam" checked="checked" name="tech_1" value="startergraphit" type="checkbox"/>
														<img src="images/iconstech/startergraphit.png" /></div>
													<span>Starter Graphit</span> </li>
												<li title="For artificial grass and hard courts" rel="tooltip">
													<div>
														<input data-name="Super Graphit" data-key="Foam" checked="checked" name="tech_1" value="supergraphit" type="checkbox"/>
														<img src="images/iconstech/supergraphit.png" /></div>
													<span>Super Graphit</span> </li>
											</ul>
										</fieldset>
										<fieldset>
											<a data-key="Cut" class="udropdown techbutton" style="width: 180px; display: block;" href="#">Cut
												<br/>
												<span style="font-weight: bold; font-size: 10px; line-height: 10px;" class="techtext" id="info_Cut">Classic Cut, Wide Cut, Close Cut, Rollfinger, Cut</span> </a>
											<ul id="Cut" class="icons techninfos" style="margin-top: 0px; padding: 0px; display: none;">
												<li title="" rel="tooltip">
													<div>
														<input data-name="Classic Cut" data-key="Cut" checked="checked" name="tech_2" value="klassischer_schnitt" type="checkbox"/>
														<img src="images/iconstech/klassischer_schnitt.png" /></div>
													<span>Classic Cut</span> </li>
												<li title="" rel="tooltip">
													<div>
														<input data-name="Wide Cut" data-key="Cut" checked="checked" name="tech_2" value="weiter_schnitt" type="checkbox"/>
														<img src="images/iconstech/weiter_schnitt.png" /></div>
													<span>Wide Cut</span> </li>
												<li title="" rel="tooltip">
													<div>
														<input data-name="Close Cut" data-key="Cut" checked="checked" name="tech_2" value="halfnegative" type="checkbox"/>
														<img src="images/iconstech/halfnegative.png" /></div>
													<span>Close Cut</span> </li>
												<li title="Seemless all-round grip for perfect ball control" rel="tooltip">
													<div>
														<input data-name="Rollfinger" data-key="Cut" checked="checked" name="tech_2" value="rollfinger" type="checkbox"/>
														<img src="images/iconstech/rollfinger.png" /></div>
													<span>Rollfinger</span> </li>
												<li title="Seemless all-round grip for perfect ball control" rel="tooltip">
													<div>
														<input data-name="Cut" data-key="Cut" checked="checked" name="tech_2" value="absolutroll" type="checkbox"/>
														<img src="images/iconstech/absolutroll.png" /></div>
													<span>Cut</span> </li>
											</ul>
										</fieldset>
										<fieldset>
											<a data-key="FingerProtection" class="udropdown techbutton" style="width: 180px; display: block;" href="#">Finger Protection
												<br/>
												<span style="font-weight: bold; font-size: 10px; line-height: 10px;" class="techtext" id="info_FingerProtection">Without, Bionik X-Change, Bionikframe +, Bionikframe, Supportframe, Stabilization, Schockzone</span> </a>
											<ul id="FingerProtection" class="icons techninfos" style="margin-top: 0px; padding: 0px; display: none;">
												<li>
													<div>
														<input data-name="Without" data-key="FingerProtection" name="tech_3" value="without" checked="checked" type="checkbox"/></div>
													<span>Without</span> </li>
												<li title="Slight stabilisation with additional thumb protection and interchangeable stabilisation element" rel="tooltip">
													<div>
														<input data-name="Bionik X-Change" data-key="FingerProtection" checked="checked" name="tech_3" value="bionikframe_x-change_mit_thumbframe" type="checkbox"/>
														<img src="images/iconstech/bionikframe_x-change_mit_thumbframe.png" /></div>
													<span>Bionik X-Change</span> </li>
												<li title="Slight stabilisation with additional thumb protection" rel="tooltip">
													<div>
														<input data-name="Bionikframe +" data-key="FingerProtection" checked="checked" name="tech_3" value="bionikframeplus_mit_thumbframe" type="checkbox"/>
														<img src="images/iconstech/bionikframeplus_mit_thumbframe.png" /></div>
													<span>Bionikframe +</span> </li>
												<li title="Slight stabilisation" rel="tooltip">
													<div>
														<input data-name="Bionikframe" data-key="FingerProtection" checked="checked" name="tech_3" value="bionikframe" type="checkbox"/>
														<img src="images/iconstech/bionikframe.png" /></div>
													<span>Bionikframe</span> </li>
												<li title="Stabilisation for entry level and children's models" rel="tooltip">
													<div>
														<input data-name="Supportframe" data-key="FingerProtection" checked="checked" name="tech_3" value="supportframe" type="checkbox"/>
														<img src="images/iconstech/supportframe.png" /></div>
													<span>Supportframe</span> </li>
												<li title="For perfect fit, finger stabilisation and climate control" rel="tooltip">
													<div>
														<input data-name="Stabilization" data-key="FingerProtection" checked="checked" name="tech_3" value="handbett" type="checkbox"/>
														<img src="images/iconstech/handbett.png" /></div>
													<span>Stabilization</span> </li>
												<li title="For additional shock absorption and wear resistance at the side of the hand" rel="tooltip">
													<div>
														<input data-name="Schockzone" data-key="FingerProtection" checked="checked" name="tech_3" value="schockzone" type="checkbox"/>
														<img src="images/iconstech/schockzone.png" alt="" /></div>
													<span>Schockzone</span> </li>
											</ul>
										</fieldset>
										<hr />
										<fieldset>
											<legend>Colours at a glance</legend>
											<input style="clear: both;" name="color" checked="checked" value="black" type="checkbox"/>
											<label title="black" style="background-color: #000000;" class="jquery-checkbox-checked light" labelfor="color">
											</label>
											black<br/>
											<input style="clear: both;" name="color" checked="checked" value="blue " type="checkbox"/>
											<label title="blue " style=" background-color: #004B8B;" class="jquery-checkbox-checked " labelfor="color">
											</label>
											blue
											<br/>
											<input style="clear: both;" name="color" checked="checked" value="grey" type="checkbox"/>
											<label title="grey" style="background-color: #4F565B;" class="jquery-checkbox-checked light" labelfor="color">
											</label>
											grey<br/>
											<input style="clear: both;" name="color" checked="checked" value="white" type="checkbox"/>
											<label title="white" style="background-color: #FFFFFF;" class="jquery-checkbox-checked " labelfor="color">
											</label>
											white<br/>
										</fieldset>
									</div>
								</div>
								<div class="filter_bottom">
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<footer>
            <div id="footer">
                <div class="headline"></div>
                <div class="container_16">
                    <div class="grid_9">
                        <div class="grid_6 alpha products">
                            <h4>Products</h4>
							<div class="grid_3 alpha">
								<ul class="sublist">
										<li><a href="http://www.uhlsport.com/en_us/products/category/744/goalkeeper-apparel">Goalkeeper Apparel</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/746/footwear">Footwear</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/747/goalkeeper-gloves">Goalkeeper Gloves</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/748/footballs">Footballs</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/749/bandages">Bandages</a></li>
								</ul>
							</div>
							<div class="grid_3 omega">
								<ul class="sublist">
										<li><a href="http://www.uhlsport.com/en_us/products/category/750/bags">Bags</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/751/accessories">Accessories</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/757/uhlsport-brazil-collection">uhlsport Brazil collection</a></li>
								</ul>
							</div>

                        </div>
                        <div class="grid_3 omega dealers">
                            <h4>Dealer</h4>
								<ul>
									<li><a href="http://www.uhlsport.com/en_us/dealer/4/united-states">United States</a></li>    
									<li><a href="http://www.uhlsport.com/en_us/dealer/106/canada">Canada</a></li>    
									<li><a href="http://www.uhlsport.com/en_us/dealer/overview">View all...</a></li>
								</ul>

                        </div>
                    </div>
                    <div class="grid_7">
                        <div class="grid_3 alpha service">
                            <h4>Service</h4>
								<ul>
									<li>
										<a href="http://www.uhlsport.com/en_us/newsletter">Newsletter</a>
									</li>
								</ul>
                        </div>
                        <div class="grid_3 contact">
                            <h4>Contact</h4>
                            <address>
                                MSD Sports Enterprises<br/>765 Branch Drive<br/>GA 30004 Alpharetta, GA, 30004<br/><br/>+17706676918<br/>+17706676925<br/>usa@uhlsport.com<br/>
								<a href="http://www.uhlsportusa.com/">uhlsportusa.com</a><br/>
                            </address>
                            <br/>
                            <a href="http://www.uhlsport.com/en_us/imprint">Imprint</a><br/>
                            <a href="http://www.uhlsport.com/en_us/contact">Contact</a><br/>
                        </div>
                        <div class="grid_1 socialmedia omega">
                            <a href="http://www.facebook.com/pages/UHLSPORT-USA/187230199528">
                                <img src="images/footer_fb_55x55.png" alt="uhlsport on Facebook"/>
                            </a>
                            <a href="http://www.youtube.com/uhlsportTV">
                                <img src="images/footer_yt_55x55.png" alt="uhlsport on Facebook"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
	</div>
	<div class="clear"></div>

</body>
</html>