<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>uhlsport FUSSBALL</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<link href="css.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="images/favicons/favicon.ico"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-196x196.png" sizes="196x196"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-160x160.png" sizes="160x160"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32"/>
	<link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16"/>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>	
	<script src="js/piwik.js" async="" defer="defer" type="text/javascript"></script>
	
	<!--[if IE 8]>
	<link href="ie.css" rel="stylesheet" type="text/css" />	
	<![endif]-->

</head>
<body class="body">
	<div id="wrapper">
		<div id="printlogo" class="printonly">
			<img src="images/logo.png" alt=""/>
		</div>
		<header>
            <div id="fixed">
                <div id="top"></div>
                <nav>
                    <div id="mobilehome">
                            <a href="/">
                                <div></div>
                            </a>
                    </div>
                    <div id="menubutton">
                        <img src="images/menu.png" title="Menu" alt=""/>
                    </div>

                    <ul id="menu">
                        <li id="home">
                                <a href="/">
                                    <div></div>
                                </a>
                        </li>
                        <li><a href="products_all">Products</a></li>
                        <li><a href="#">Sponsoring</a>
							<ul class="dropdown">
									<li>
										<a href="sponsoring_goalkeepers">Goalkeepers</a>
									</li>    
									<li>
										<a href="sponsoring_nationalteams">Nationalteams</a>
									</li>    
									<li>
										<a href="sponsoring_teams">Teams</a>
									</li>    
									<li>
										<a href="sponsoring_products">Products</a>
									</li>    
							</ul>
                        </li>
                        <li><a href="#">Brand</a>
								<ul class="dropdown">
										<li>
											<a href="brand_identity">Brand Identity</a>
										</li>    
										<li>
											<a href="history">History</a>
										</li>    
										<li>
											<a href="responsibility">Responsability</a>
										</li>    
								</ul>
                        </li>
                        <li><a href="#">Service</a>
							<ul class="dropdown">
									<li>
										<a href="newsletter">Newsletter</a>
									</li>    
							</ul>
                        </li>
                        <li><a href="/dealer/overview">Dealer</a></li>
                    </ul>
                </nav>
				<div id="search">
                    <form method="post" action="search">
                        <input class="ac_input" autocomplete="off" placeholder="Поиск по сайту" id="ssearchbox" name="term" title="" type="text"/>
                        <button type="submit">
                            <img src="images/search.png" alt="Search Button"/>
                        </button>
                    </form>
                </div>
				<div id="line"></div>
                <a href="" id="logo"></a>
				 </div>
        </header>
		<div id="content" class="start">
			<div id="headerimage">
				<a href="sponsoring_goalkeepers">
					<img id="himage" src="images/slide.jpg" alt="" />
				</a>
			</div>
			<div class="seite">
				<div class="headline">
					<h2>uhlsport FUSSBALL</h2>
				</div>
				<div class="container_16">
					<div class="fullsize">
						<div class="fullsize">
							<a href="products/category/747/goalkeeper-gloves/">
								<img title="Gloves Overview" class="full" src="images/slide01.jpg" alt=""/>
							</a>
						</div>
					</div>
					<div class="headline">
						<h2>Top Products</h2>
					</div>
					<div class="container_16">
						<div class="grid16">
							<ul class="image-grid">
								<li><a href="http://www.uhlsport.com/en_us/products/details/100032701/cerberus-supersoft-bionik">
									<img alt="product" src="images/image01.png" /><h4>
										CERBERUS SUPERSOFT BIONIK</h4>
									<div class="articlenumber">
										100032701</div>
									<div class="color">
										white/red/silver</div>
									<span class="price">$ 99.95</span></a>
								</li>								
								<li><a href="http://www.uhlsport.com/en_us/products/details/100037101/cerberus-soft-sf">
										<img alt="product" src="images/image02.png" /><h4>
											CERBERUS SOFT SF</h4>
										<div class="articlenumber">
											100037101</div>
										<div class="color">
											white/cyan/black</div>
										<span class="price">$ 64.95</span></a>
								</li>
								<li><a href="http://www.uhlsport.com/en_us/products/details/100552701/anatomic-goalkeeper-longshorts">
											<img alt="product" src="images/image03.png" /><h4>
												ANATOMIC Goalkeeper Longshorts</h4>
											<div class="articlenumber">
												100552701</div>
											<div class="color">
												black</div>
											<span class="price">$ 49.95</span></a>
								</li>
								<li><a href="http://www.uhlsport.com/en_us/products/details/100552901/standard-goalkeeper-pants">
												<img alt="product" src="images/image04.png" /><h4>
													STANDARD Goalkeeper Pants</h4>
												<div class="articlenumber">
													100552901</div>
												<div class="color">
													black</div>
												<span class="price">$ 44.95</span></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="socialmedia">
						<div class="headline">
							<h2>Social Media</h2>
						</div>
						<div class="container_16">
							<div class="grid_7 prefix_1">
								<iframe frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 340px; height: 258px;" scrolling="no" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages/UHLSPORT-USA/187230199528&amp;width=340&amp;height=400&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false"></iframe>
							</div>
							<div class="grid_7 postfix_1">
								<iframe width="340" height="220" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/gtzOD1qiLIA" style="margin-bottom: 30px; margin-top: 50px;"></iframe>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
            <div id="footer">
                <div class="headline"></div>
                <div class="container_16">
                    <div class="grid_9">
                        <div class="grid_6 alpha products">
                            <h4>Products</h4>
							<div class="grid_3 alpha">
								<ul class="sublist">
										<li><a href="http://www.uhlsport.com/en_us/products/category/744/goalkeeper-apparel">Goalkeeper Apparel</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/746/footwear">Footwear</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/747/goalkeeper-gloves">Goalkeeper Gloves</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/748/footballs">Footballs</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/749/bandages">Bandages</a></li>
								</ul>
							</div>
							<div class="grid_3 omega">
								<ul class="sublist">
										<li><a href="http://www.uhlsport.com/en_us/products/category/750/bags">Bags</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/751/accessories">Accessories</a></li>
										<li><a href="http://www.uhlsport.com/en_us/products/category/757/uhlsport-brazil-collection">uhlsport Brazil collection</a></li>
								</ul>
							</div>

                        </div>
                        <div class="grid_3 omega dealers">
                            <h4>Dealer</h4>
								<ul>
									<li><a href="http://www.uhlsport.com/en_us/dealer/4/united-states">United States</a></li>    
									<li><a href="http://www.uhlsport.com/en_us/dealer/106/canada">Canada</a></li>    
									<li><a href="http://www.uhlsport.com/en_us/dealer/overview">View all...</a></li>
								</ul>

                        </div>
                    </div>
                    <div class="grid_7">
                        <div class="grid_3 alpha service">
                            <h4>Service</h4>
								<ul>
									<li>
										<a href="http://www.uhlsport.com/en_us/newsletter">Newsletter</a>
									</li>
								</ul>
                        </div>
                        <div class="grid_3 contact">
                            <h4>Contact</h4>
                            <address>
                                MSD Sports Enterprises<br/>765 Branch Drive<br/>GA 30004 Alpharetta, GA, 30004<br/><br/>+17706676918<br/>+17706676925<br/>usa@uhlsport.com<br/>
								<a href="http://www.uhlsportusa.com/">uhlsportusa.com</a><br/>
                            </address>
                            <br>
                            <a href="http://www.uhlsport.com/en_us/imprint">Imprint</a><br/>
                            <a href="http://www.uhlsport.com/en_us/contact">Contact</a><br/>
                        </div>
                        <div class="grid_1 socialmedia omega">
                            <a href="http://www.facebook.com/pages/UHLSPORT-USA/187230199528">
                                <img src="images/footer_fb_55x55.png" alt="uhlsport on Facebook"/>
                            </a>
                            <a href="http://www.youtube.com/uhlsportTV">
                                <img src="images/footer_yt_55x55.png" alt="uhlsport on Facebook"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
	</div>
	<div class="clear"></div>

</body>
</html>